{% extends 'base.html' %}

{% block content %}

<h1>Welcome to registration page</h1>

<div class="jumbotron">
    {% if registered %}
    <h2>Thank you for registering</h2>

    {% else %}
        <h2>Fill out the form: </h2>
        <form  enctype="multipart/form-data" align="center" method="POST">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <input type="submit" name="" value="Register">
        </form>
    {% endif %}
</div>

{% endblock %}